*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 1rem 0;
    margin: auto;
}

.btn {
    border: 2px solid $Medium-Gray;
    text-align: center;
    border-radius: 15px;
    width: 100%;
}

.btn:hover {
    background-color: $Almost-Black;
    border: 2px solid $Almost-Black;
    color: $Almost-White;
}